services:
  admin:
    image: ghcr.io/copycord/copycord:v2.2.0
    container_name: copycord-admin
    environment:
      - ROLE=admin
    ports:
      - "8080:8080"
    volumes:
      - ./data:/data

  server:
    image: ghcr.io/copycord/copycord:v2.2.0
    container_name: copycord-server
    environment:
      - ROLE=server
    volumes:
      - ./data:/data
    depends_on:
      - admin

  client:
    image: ghcr.io/copycord/copycord:v2.2.0
    container_name: copycord-client
    environment:
      - ROLE=client
    volumes:
      - ./data:/data
    depends_on:
      - admin
