__pycache__/
*.pyc
*.pyo
*.pyd
*.whl
*.egg-info/
build/
dist/
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
.git
.gitignore
.gitattributes
.env
*.env
.venv/
venv/
*.log
*.tmp
*.bak
*.old
*.zip
*.tar
*.gz
*.rar
*.7z
data/
config/
tmp/
code/admin/frontend/node_modules
code/admin/frontend/.vite
code/admin/frontend/.cache
code/admin/static/assets
Dockerfile*
.dockerignore
